* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #fffafc;
  color: #333;
  line-height: 1.6;
}

header {
  background: #230ca6;
  color: #fff;
  padding: 20px;
  border-bottom: 4px solid #6512bd;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header-container {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  text-align: center;
  gap: 10px;
}

@media (min-width: 768px) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
}

header img {
  width: 120px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 10px #fff;
  margin-bottom: 10px;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #fff;
  text-shadow: 1px 1px #210bb6;
  margin-left: 10px;
}

.nav-home {
  color: #210bb6;
  font-weight: bold;
  background-color: #ffe4ec;
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 10px 0;
  flex-wrap: wrap;
}

nav ul li {
  background: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  transition: background 0.3s ease;
  border: 2px solid #4423d7;
}

nav ul li:hover {
  background: #ffe4ec;
}

nav ul li a {
  text-decoration: none;
  color: #2e16a8;
  font-weight: bold;
}

main {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media (min-width: 768px) {
  main {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

main img {
  max-width: 300px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

main p {
  max-width: 600px;
  font-size: 1.1rem;
  color: #555;
  text-align: left;
}

/* FOOTER */
footer {
  background: #3410d1;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
}

footer h2 {
  font-size: 1.2rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}
